.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.5;
}

.hero-swiper {
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.hero-swiper .swiper-slide {
    height: 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: white;
    width: 40px;
    border-radius: 10px;
    transition: all 0.5s ease-in;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
}

.slide-content p:nth-child(2) {
    font-size: 16px;
    width: max-content;
    color: white;
    padding: 4px 18px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 10%);
    border: 1px solid white;
    pointer-events: none;
}

.slide-content a {
    border-radius: 64px;
    background-color: white;
    color: black;
    padding: 10px 43px;
    letter-spacing: 1px;
    font-weight: 300 !important;
    transition: all 0.3s ease;
    box-shadow: inset 0px 0px 2px rgba(184, 186, 188, 1);
}

.slide-content a:hover {
    box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.25);
}
